body {
    background-color: rgb(173, 170, 170);
}

.cont {
}
.title {
    width: 30%;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    background-color: rgb(61, 147, 223);
    color: white;
    
}